/* structure defaults
*/

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    margin: 0;
}

img {
    border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include appearance(button);
    cursor: pointer;
}

.hidden{
  display: none;
}

@include breakpoint(baby-bear) {
.tablet{ display: none !important; }
.full{ display: none !important; }
.hide-on-mobile{display: none !important;}
}
@include breakpoint(mama-bear) {
.mobile{ display: none !important; }
.full{ display: none !important; }
.hide-on-tablet{display: none !important;}
}
@include breakpoint(papa-bear) {

.mobile{ display: none !important; }
.tablet{ display: none !important; }
}









/* project defined:
*/
body {
    background: white;
    color: darken($grey, 5%);
    height: 100%;
}

a{
        color: darken($grey, 5%);
      }
